<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AssetTracker" connectionString="Server=localhost\SQLEXPRESS;Database=AssetTracker;Trusted_Connection=True" />
    <!--<add name="AssetTracker" connectionString="Server=atlascopco.database.windows.net;Database=Atlas_Copco;User ID=Naseer;Password=Ants1234%" />-->
  </connectionStrings>
  
</configuration>    